* {
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.d-none {
    display: none;
}

.width-100 {
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-column-start {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.flex-column-end {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.word-wrap {
    word-wrap: break-word;
}

.click-icon {
    cursor: pointer;
}

/* Image */
.img-20 {
    width: 20px;
}

.img-25 {
    width: 25px;
}

.img-50 {
    width: 50px;
}

.img-75 {
    width: 75px;
}

.img-100 {
    width: 100px;
}

.img-150 {
    width: 150px;
}

.img-200 {
    width: 200px;
}

.img-250 {
    width: 250px;
}

.img-500 {
    width: 500px;
}

.input-container {
    background-color: white;
    border-radius: 10px;
}

.input-field {
    outline: none;
    border: none;
    border-radius: 10px;
    width: 250px
}

/* ############################################################################################################################################################# */

/* Pokedex Individual */
.nav-bg {
    background-color: rgb(51, 51, 51);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav-bg h1 {
    color: white;
}

.headline {
    font-family: 'Teko', 'sans-serif';
    font-size: 50px;
    margin: 0;
}

.target-container {
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    transform: scale(1);
    transition: all 225ms ease-in-out;
    width: 300px;
    height: 175px;
}

.target-container:hover {
    transform: scale(1.1);
    transition: all 225ms ease-in-out;
}

.target-container h1 {
    font-size: 24px;
    color: white;
}

.target-container-child {
    color: white;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.pokemon-img {
    position: absolute;
    z-index: 1;
    right: -25%;
    bottom: -25%;
}

.icon-inline {
    position: absolute;
    right: 5%;
    top: 5%;
    opacity: 0.1;
}

.pokedex-id {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 25%;
    font-size: 50px;
    font-family: 'Teko', 'sans-serif';
    opacity: 0.5;
}


/* Color Classes */
.fire-class {
    background-color: rgb(252, 108, 109);
}

.grass-class {
    background-color: rgb(109, 187, 71);
}

.poisen-class {
    background-color: rgb(161, 87, 179);
}

.water-class {
    background-color: rgb(48, 136, 207);
}

.normal-class {
    background-color: lightgrey;
}

.electric-class {
    background-color: rgb(232, 193, 0);
}

.ground-class {
    background-color: rgb(217, 102, 44);
}

.fairy-class {
    background-color: rgb(235, 137, 158);
}

.fighting-class {
    background-color: rgb(174, 43, 36);
}

.ghost-class {
    background-color: rgb(97, 73, 172);
}

.rock-class {
    background-color: rgb(193, 174, 120);
}

.psychic-class {
    background-color: rgb(255, 84, 101);
}

.dragon-class {
    background-color: darkgrey;
}

.ice-class {
    background-color: rgb(147, 206, 255);
}