* {
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.d-none {
    display: none;
}

.width-100 {
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-column-start {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.flex-column-end {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.word-wrap {
    word-wrap: break-word;
}

.click-icon {
    cursor: pointer;
}

/* Image */
.img-20 {
    width: 20px;
}

.img-25 {
    width: 25px;
}

.img-50 {
    width: 50px;
}

.img-75 {
    width: 75px;
}

.img-100 {
    width: 100px;
}

.img-150 {
    width: 150px;
}

.img-200 {
    width: 200px;
}

.img-250 {
    width: 250px;
}

.img-500 {
    width: 500px;
}

.input-container {
    background-color: white;
    border-radius: 10px;
}

.input-field {
    outline: none;
    border: none;
    border-radius: 10px;
    width: 250px
}

/* ############################################################################################################################################################# */

/* Pokedex Individual */

.pos-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.margin-top {
    margin-top: 100px;
}

.nav-bg {
    background-color: rgb(51, 51, 51);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav-bg h1 {
    color: white;
}

.headline {
    font-family: 'Teko', 'sans-serif';
    font-size: 50px;
    margin: 0;
}

.target-container {
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    transform: scale(1);
    transition: all 225ms ease-in-out;
    width: 300px;
    height: 175px;
    margin-top: 50px;
}

.target-container:hover {
    transform: scale(1.1);
    transition: all 225ms ease-in-out;
}

.target-container h1 {
    font-size: 24px;
    color: white;
}

.target-container-child {
    color: white;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.pokemon-img {
    position: absolute;
    z-index: 1;
    right: -25%;
    bottom: -25%;
}

.icon-inline {
    position: absolute;
    right: 5%;
    top: 5%;
    opacity: 0.1;
}

.pokedex-id {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 25%;
    font-size: 50px;
    font-family: 'Teko', 'sans-serif';
    opacity: 0.5;
}

.pop-up-Container {
    position: fixed;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pop-up-inline-container {
    background-color: white;
    width: 400px;
    height: 750px;
    border-radius: 25px;
}

.pokedex-id-pop-up {
    position: absolute;
    top: 25px;
    left: 0px;
    font-size: 100px;
    font-family: 'Teko', 'sans-serif';
    opacity: 0.5;
    color: white;
}

.position {
    position: relative;
}

.stats-bg {
    z-index: 1;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 430px;
    width: 400px;
    border-radius: 25px;
}

.name-in-pop-up {
    color: white;
    margin: 0;
}

.next-img {
    position: absolute;
    top: 200px;
    right: 0;
    cursor: pointer;
    width: 30px;
    opacity: 0.5;
}

.back-img {
    position: absolute;
    top: 200px;
    left: 0;
    cursor: pointer;
    width: 30px;
    opacity: 0.5;
    transition: all 225ms ease-in-out;
}

.cross-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 225ms ease-in-out;
}

.next-img:hover,
.back-img:hover,
.cross-img:hover {
    opacity: 1;
    transition: all 225ms ease-in-out;
}

.underline {
    border-bottom: 1px solid lightgray;
}

.stats-headline {
    font-weight: bold;
    font-size: 24px;
}

.rightline {
    border-right: 1px solid lightgray;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* Color Classes */
.fire {
    background-color: rgb(252, 108, 109);
}

.grass {
    background-color: rgb(109, 187, 71);
}

.bug {
    background-color: rgb(109, 187, 71);
}

.poison {
    background-color: rgb(161, 87, 179);
}

.water {
    background-color: rgb(48, 136, 207);
}

.normal {
    background-color: lightgrey;
}

.electric {
    background-color: rgb(232, 193, 0);
}

.ground {
    background-color: rgb(217, 102, 44);
}

.fairy {
    background-color: rgb(235, 137, 158);
}

.fighting {
    background-color: rgb(174, 43, 36);
}

.ghost {
    background-color: rgb(97, 73, 172);
}

.rock {
    background-color: rgb(193, 174, 120);
}

.psychic {
    background-color: rgb(255, 84, 101);
}

.dragon {
    background-color: darkgrey;
}

.ice {
    background-color: rgb(147, 206, 255);
}

/* Responsive */

@media (min-width: 792px) and (max-width: 1023px) {
    .target-container {
        width: 270px;
    }

    .img-200 {
        width: 175px;
    }

    .stats-bg {
        height: 435px;
    }

    .progress {
        --bs-progress-height: 0.2rem;
    }

    .pop-up-inline-container {
        height: 598px;
    }
}

@media (min-width: 1024px) and (max-width: 1024px) {
    .img-200 {
        width: 110px;
    }

    .stats-bg {
        height: 348px;
    }

    .next-img {
        top: 150px;
    }
    
    .back-img {
        top: 150px;
    }
    
    .progress {
        --bs-progress-height: 0.2rem;
    }

    .pop-up-inline-container {
        height: 598px;
    }

}


@media (max-width: 791px) {

    .flex-between {
        flex-direction: column;
    }

    .margin-top {
        margin-top: 140px;
    }

    .py-2 {
        margin-bottom: 0.5rem;
    }

    .pop-up-inline-container {
        height: 720px;
    }

    .img-200 {
        width: 160px;
    }
}

@media (min-width: 301px) and (max-width: 450px) {

    .input-field {
        width: 175px;
    }

    .target-container {
        width: 200px !important;

    }

    .pokedex-id {
        top: 5%;
        right: 12%;
    }

    .py-2 {
        margin-bottom: 0.5rem;
    }

    .pop-up-inline-container {
        width: 250px;
        height: 627px;
        border-radius: 25px;
    }

    .next-img {
        right: -20px;
    }

    .back-img {
        left: -20px;
    }

    .pokedex-id-pop-up {
        font-size: 50px;
    }

    .stats-bg {
        height: 350px;
        width: 250px;
        border-radius: 25px;
    }

    .progress {
        --bs-progress-height: 0.2rem;
    }

    .img-200 {
        width: 150px;
    }

}

@media (max-width: 340px) {

    .input-field {
        width: 175px;
    }

    .target-container {
        width: 200px !important;

    }

    .target-container-child {
        display: none;
    }

    .pokedex-id {
        bottom: 0 !important;
        right: 70% !important;
    }

    .py-2 {
        margin-bottom: 0.5rem;
    }

    .pop-up-inline-container {
        width: 250px;
        height: 614px;
        border-radius: 25px;
    }

    .next-img {
        right: -20px;
    }

    .back-img {
        left: -20px;
    }

    .pokedex-id-pop-up {
        font-size: 50px;
    }

    .stats-bg {
        height: 350px;
        width: 250px;
        border-radius: 25px;
        margin-top: 20px;
    }

    .progress {
        --bs-progress-height: 0.2rem;
    }

    .img-200 {
        width: 150px;
    }

}